body {
    background-color: black;
    height: 3000px;
}

#object1 {
    background-color: red;
    height: 200px;
    width: 200px;
    position: fixed;
    left: 300px;
    z-index: 1;
}

#object2 {
    background-color: blue;
    height: 200px;
    width: 200px;
    position: fixed;
    left: 600px;
    z-index: 1;
}

#object3 {
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: fixed;
    left: 700px;
    z-index: 1;
}

ul {
    list-style-type: none;
}

.navItem {
    height: 100px;
    width: 100px;
}

#nav {
    position: fixed;
    top: 50%;
    right: 10%;
    margin-top: -150px;
    z-index: 2000;
}

#nav-item1 {
    background-color: red;
}

#nav-item2 {
    background-color: blue;

}

#nav-item3 {
    background-color: yellow;

}

#foreground1 {
    background-color: lightgrey;
    height: 1200px;
    width: 100%;
    position: absolute;
    z-index: 1000;
}

#foreground2 {
    background-color: lightgrey;
    height: 1200px;
    width: 100%;
    position: absolute;
    top: 2400px;
    z-index: 1000;
}
